{% extends "base.html" %}

{% block body %}

<section class="">
    <div class="grid-container">
      <div class="column-full-width">
        <div class="inner">
          <h1 class="heading-extra-large vertical-spacing-bottom vertical-spacing-top">Hello from the unofficial "Ask BSI Bitesize Immunology"</h1>
          <p>
              <div class="vertical-spacing-bottom-0-25">
                This is just a fun little test project to understand a bit more about how you can make custom applications to answer questions relating to specific content using Langchain, ChromaDB and OpenAI.
              </div>
              <div class="vertical-spacing-bottom-0-25">
                It uses text content from the British Society for Immunology's Bitesize Immunology website, which is a great resource for immunology students.
              </div>
              <div class="vertical-spacing-bottom-0-25">
                You can ask a question relating to basic immunology, and if the answer is in the website, you'll get a summary and a link to the relevant page in BSI Bitesize Immunology.
            </div>
            <hr>
          </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}